* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.container .box-top {
  background-color: #ececec;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
.container .box-bottom {
  background-color: #ececec;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
.container .box-top .text-input {
  background-color: white;
  flex: 1;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  outline-color: orangered;
}
.container .box-top span {
  display: flex;
  height: 40px;
  border-radius: 10px;
  background-color: orangered;
  color: white;
  width: 100px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.container .box-bottom div {
  display: flex;
  background-color: white;
  font-size: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  align-items: center;
}
.container .box-bottom div::target-text {
  flex: 1;
}
.container .box-bottom div.done {
  opacity: 0.5;
}
.container .box-bottom span {
  background-color: red;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
@media (min-width: 220px) {
  .container {
    margin: 30px auto;

    width: 220px;
  }
  .container .box-top {
    flex-direction: column;
  }
}
@media (min-width: 320px) {
  .container {
    margin: 30px auto;

    width: 310px;
  }
  .container .box-top {
    flex-direction: column;
  }
  .container .box-top .text-input {
  }
}
@media (min-width: 481px) {
  .container {
    width: 471px;
  }
  .container .box-top {
    flex-direction: row;
  }
}
@media (min-width: 770px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 1020px;
  }
  .container .box-top {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
  .container .box-top {
    flex-direction: row;
  }
}
